@media(max-width: 670px) {
  body {
    background-color: white;
  }

  .main-content {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .entry {
    margin: 0;
    padding: 5px;
  }

  .entry-body {
    display: none;
  }

  .entry-title h2 {
    border-bottom: none;
  }
 
  .entry-footer {
    display: none;
  }

  .entry-tags {
    display: none;
  }

  .index-entry-footer {
    display: none;
  }

  .sidebar {
    padding: 10px 10px;
    width: 100%;
  }
}
