@media(max-width: 670px) {
  body {
    background-color: white;
  }

  .main-content {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .entry {
    margin: 0;
    padding: 5px;
  }

  .entry-body {
    margin: 0 5px;
  }
 
  .entry-footer {
  }

  .sidebar {
    padding: 10px 10px;
    width: 100%;
  }
}
