<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One by One - About</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/about.css" type="text/css">
</head>
<html>
  <header>
    <div>
      <a href="/"><h1>One By One</h1></a>
    </div>
  </header>
  <div class="main">
    <div class="profile">
    </div>
    <div class="this-site">
    </div>
  </div>
</html>
