{{define "entry" }}
 <div class="entry">
   <div class="entry-date">{{.Entry.FormatCreatedAt}}</div>
   <div class="entry-title">
     <h2>
       <a href="/entry/{{.DsKey.IntID}}">{{.Entry.Title}}</a>
     </h2>
   </div>
   <div class="entry-tags">
     <ul>
       {{range .Entry.Tags}}
       <li class="tag"><i class="fa fa-tag" aria-hidden="true"></i>{{.}}</li>
       {{end}}
     </ul>
   </div>
   <div class="entry-body markdown-body">
     <div>{{.Entry.ToHtml | safe }}</div>
   </div>
   <div class="index-entry-footer">
    <div class="entry-detail-link btn">
      <p><a href="/entry/{{.DsKey.IntID}}">続きを読む</a><p>
    </div>
   </div>
   <div class="clear"></div>
   <div class="entry-footer">
     {{template "entry_footer" .}}
   </div>
 </div>
{{end}}
