{{define "entry" }}
 <div class="entry">
   <div class="entry-date">{{.Entry.FormatCreatedAt}}</div>
   <div class="entry-title">
     <h2>
       <a href="/entry/{{.DsKey.IntID}}">{{.Entry.Title}}</a>
     </h2>
   </div>
   <div class="entry-tags">
     <i class="fa fa-tags fa-2" aria-hidden="true"></i>
     {{if .Entry.Tags}}
     <ul>
       {{range .Entry.Tags}}
       <a href="/entry/tag/{{.}}"><li class="tag">{{.}}</li></a>
       {{end}}
     </ul>
     {{end}}
   </div>
   <div class="entry-body markdown-body">
     <div>{{.Entry.ToHtml | safe }}</div>
   </div>
   <div class="clear"></div>
   <div class="entry-footer">
     {{template "entry_footer" .}}
   </div>
 </div>
{{end}}
