{{define "all"}}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/index-sm.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/mark-down.css" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  {{template "header" .}}
  <div class="main-content">
    {{range .Entries}}
      {{template "entry" .}}
    {{end}}
  </div>
  <div class="sidebar">
    <div class="profile">
      <p class="profile-info">
        <i class="fa fa-info" aria-hidden="true"></i>このブログについて
      </p>
      <p><a href="https://twitter.com/astapi">あすたぴです。</a></p>
      <p>プログラミングについてとか書きます。</p>
    </div>
    <div class="tag-list">
      <p class="tags-info">
        <i class="fa fa-tags" aria-hidden="true"></i>Tags
      </p>
    </div>
    <div class="ad"></div>
  </div>
  <div class="footer clear">
    <p>© 2017 astapi.me</p>
  </div>
</body>
</html>
{{end}}
