{{define "all"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Entry.Title}} - あすたぴのブログ</title>
  <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/entry.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/show-entry-sm.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/mark-down.css" type="text/css">
</head>
<body>
  {{template "header" .}}
  <div class="main-content">
    {{template "entry" .}}
  </div>
  <div class="sidebar">
    <div class="profile">
      <p class="profile-info">このブログについて</p>
      <p><a href="https://twitter.com/astapi">あすたぴです。</a></p>
      <p>プログラミングについてとか書きます。</p>
    </div>
  </div>
  <div class="footer clear">
    <p>© 2017 astapi.me</p>
  </div>
</body>
</html>
{{end}}
